@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	align-items:center;
	font-family: 'Bai Jamjuree', sans-serif;
	text-align:center;
}
#head{
	background:url('images/bg-header-mobile.png')no-repeat;
	background-size:cover;
	background-position:center;
	padding:5em 1em 2em 1em;
	color:hsl(201, 11%, 66%);
}
h1{
	color:  hsl(210, 10%, 33%);
	margin:2em 0 1em 0;
}

button { 
	width:250px;
	border-radius:25px;
	padding:0.7em 1.5em 0.7em 1.5em;
	color:#fff;
	font-size:0.9rem;
	margin-bottom:1em;
}

.button-1{
	background-color:hsl(171, 66%, 44%);
	
}
.button-2{
	background-color:  hsl(233, 100%, 69%);
	
}

h2{  
    color: hsl(210, 10%, 33%);
	margin:5em 0em 1em 0em;
}
#content-1,#content-2{
	color:hsl(201, 11%, 66%);
	padding:0 1em 0 1em;
}
#content-1 img,#content-2>img{
	width:90%;
	height:auto;
	margin:1em 0.5em 1em 0.5em;
}
h3{
	color: hsl(210, 10%, 33%);
	margin:1em 0em 1em 0em;
}

#child-2 img{
    margin-top:2em;
}
#logos{
	display:flex;
	flex-direction:column;
	margin:3em 2em  2em 2em;
	
}
#logos img{
	width:25%;
	height: auto;
	margin:1em 2em 1em 2em;
}
#content-3{
	margin:3.5em 0 2em 0;
	color:hsl(201, 11%, 66%);
	padding:0 1em 0 1em;
}

footer{
	background-color:hsl(201, 11%, 66%);
	padding:2em 3em 2em 3em;
	align-items:center;
	display:flex;
	flex-direction:column;
	margin-top:3em;
}

#foot-logo img{
	width:50%;
	height:auto;
	margin-bottom:2em;
}
#foot div{
	margin:2em 0 2em 0;
}
#social img{
	margin:2em 1em 2em 1em;
}

@media(min-width:1024px){
	  #head {margin-bottom:3em;}

	 .button{display:flex;
	         flex-direction:row;
	         padding-left:33.8vw;}
	 .button-2{margin-left:1em;}                

	#content-1 img{width:30%;
	               height:auto;}

	#content-1 p{margin-bottom:5em;}

	#child-1{float:right;} 

    #logos{display:flex;
    	   flex-direction:row;}

    #child-2{display:grid;
    	    grid-template-columns:1fr 1fr 1fr;}

    #child-2 div{margin-left:0.5em;}

    footer{display:grid;
          grid-template-columns:1fr 2fr 1fr;}
    #foot{display:grid;
          grid-template-columns:1fr 1fr 1fr;
          grid-template-rows:1fr 1fr; } 

    .attribution{grid-column:2/3;}          
    